<article>
  <% if (contributions.length > 1) { %> 
    <a href="/contributors/<%= contributor.path %>" class="image">
      <img src="<%= contributor.picture %>" alt="<%= contributor.name %>'s profile picture"/>
    </a>
  <% } else { %>
    <div class="image">
      <img src="<%= contributor.picture %>" alt="<%= contributor.name %>'s profile picture"/>
    </div>
  <% } %>

  <div class="title-header">
    <h3><%= contributor.name %></h3>
    <h4><%= contributor.country %></h4>
  </div>
  <h3><%= contributions[0].title %></h3>
  <p><%= contributions[0].description %></p>
  <p>
    <% if (contributor.contact) { %> 
      <span>Contact: </span><a href="<%= contributor.contact %>" target="_blank"><%= contributor.contact %></a>
    <% } %>
    <% if (contributor.donate) { %> 
      <br>
      <span>Donate: </span><a href="<%= contributor.donate %>" target="_blank"><%= contributor.donate %></a>
    <% } %>
  </p>
          
  <audio
    style="width: 100%"
    preload="none"
    class="mobile-audio"
    controls=""
  >
    <source src="/api/audio/<%= contributions[0].path %>/<%= contributions[0].audio %>" type="audio/mpeg" />
    This browser does not support the audio tag.
  </audio>
  <a href="/api/scores/<%= contributions[0].path %>/<%= contributions[0].score %>" <% if (user) { %>
    target="_blank"; <% } %> >
    <button
      style="width: 100%"
      class="button primary icon solid fa-external-link-alt"
      type="submit"
    >
      open score 
      <% if (!user) { %>
        <br> <i style="color:black; font-size: 80%;">(login required)</i> 
      <% } %>
    </button>
  </a>
</article>