<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
  <!-- head -->
  <%- include('partials/head'); %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2><%= title %></h2>
              </header>
              <p>
                Partitas Music was born in 2011 as the publisher of
                <a href="/seven-guitar-craft-themes-book"
                  >Seven Guitar Craft Themes</a
                >, a book with music written by Robert Fripp.
              </p>
              <p>
                The aim of Partitas Music is to make the repertoire of the
                Guitar Craft Tuning available to everyone.
              </p>
              <p>
                The music contributors own the rights of the materials presented
                on this website. Music, images, and text.
              </p>
              <p>
                Editor: Horacio Pozzo <br />
                Webmaster: Marcos Pozzo
              </p>
            </div>
            <span class="image object">
              <img
                src="./images/horacio-and-marcos.jpg"
                alt="Horacio and Marcos in 1995."
              />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
