<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <!-- head -->
  <%- include('partials/head'); %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2>Music Contributors</h2>
              </header>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusantium saepe ab maxime nulla perspiciatis! Provident unde
                laboriosam debitis nihil perspiciatis distinctio at id
                consectetur quia perferendis culpa voluptatum voluptatem
                cupiditate, delectus ipsa, a, quisquam quas? Veniam, magni.
                Debitis voluptatum dolorum blanditiis eos alias quod eius,
                commodi itaque voluptates corrupti nihil?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error
                mollitia quod eligendi, repellendus veniam explicabo.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptates dolorum odio quisquam. Magni illo necessitatibus,
                unde doloremque distinctio tempora dolores, eveniet placeat
                reprehenderit voluptatibus fuga facere, ad odio minima?
                Accusamus dolores fugit placeat! Harum, dolorem!
              </p>
            </div>
            <span class="image object">
              <div class="contributors">
                <!-- Table -->
                <div class="table-wrapper">
                  <h3>Groups & Ensembles</h3>
                  <table>
                    <tbody>
                      <% groups.forEach(function (group) { %>
                      <tr>
                        <td>
                          <a href="/contributions/<%= group.path %>"
                            ><%= group.name %></a
                          >
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>

                <!-- Table -->
                <div class="table-wrapper">
                  <h3>Individuals</h3>
                  <table>
                    <tbody>
                      <% individuals.forEach(function (individual) { %>
                      <tr>
                        <td>
                          <a href="/contributions/<%= individual.path %>"
                            ><%= individual.name %></a
                          >
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </span>
          </section>

          <section>
            <header class="major">
              <h2>Music Contributors</h2>
            </header>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Accusantium saepe ab maxime nulla perspiciatis! Provident unde
              laboriosam debitis nihil perspiciatis distinctio at id consectetur
              quia perferendis culpa voluptatum voluptatem cupiditate, delectus
              ipsa, a, quisquam quas? Veniam, magni. Debitis voluptatum dolorum
              blanditiis eos alias quod eius, commodi itaque voluptates corrupti
              nihil?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error
              mollitia quod eligendi, repellendus veniam explicabo.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates dolorum odio quisquam. Magni illo necessitatibus, unde
              doloremque distinctio tempora dolores, eveniet placeat
              reprehenderit voluptatibus fuga facere, ad odio minima? Accusamus
              dolores fugit placeat! Harum, dolorem!
            </p>
            <div class="contributors">
              <!-- Table -->
              <div class="table-wrapper">
                <h3>Groups & Ensembles</h3>
                <table>
                  <tbody>
                    <% groups.forEach(function (group) { %>
                    <tr>
                      <td>
                        <a href="/contributions/<%= group.path %>"
                          ><%= group.name %></a
                        >
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>

              <!-- Table -->
              <div class="table-wrapper">
                <h3>Individuals</h3>
                <table>
                  <tbody>
                    <% individuals.forEach(function (individual) { %>
                    <tr>
                      <td>
                        <a href="/contributions/<%= individual.path %>"
                          ><%= individual.name %></a
                        >
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
