<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <!-- head -->
  <%- include('partials/head'); %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2><%= title %></h2>
              </header>
              <p>
                We look forward to receiving your message. Comments, ideas and
                suggestions are most welcome!
              </p>

              <!-- Contact form -->
              <%- include('partials/contact-form'); %>
            </div>
            <span class="image object">
              <img
                src="./images/contact.png"
                alt="A zenith picture of seven guitarists with three colored lines connecting them."
              />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
