<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
  <!-- head -->
  <%- include('partials/head'); %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <section>
            <header class="major">
              <h2>Music Contributors</h2>
            </header>
            <div class="contributors">
              <div class="contributors-column">
                <h3>Groups & Ensembles</h3>
                <% groups.forEach(function (group) { %>
                <div>
                  <a
                    class="contributor-card"
                    href="/contributors/<%= group.path %>"
                  >
                    <img
                      src="<%= group.picture %>"
                      alt="<%= group.name %>'s profile picture"
                    />
                    <%= group.name %>
                  </a>
                </div>
                <% }); %>
              </div>

              <div class="line"></div>

              <div class="individuals-column">
                <div>
                  <h3>Individuals</h3>
                </div>
                <div class="individuals-body">
                  <% individuals.forEach(function (individual) { %>
                  <div class="individuals-card">
                    <a
                      class="contributor-card"
                      href="/contributors/<%= individual.path %>"
                    >
                      <img
                        src="<%= individual.picture %>"
                        alt="<%= individual.name %>'s profile picture"
                      />
                      <%= individual.name %>
                    </a>
                  </div>
                  <% }); %>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
