<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
  <!-- head -->
  <%- include('partials/head'); %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2><%= title %></h2>
              </header>

              <p>You can support Partitas Music by becoming a Patreon:</p>

              <p>
                <a
                  href="https://patreon.com/partitasmusic"
                  rel="noopener"
                  target="_blank"
                >
                  <button
                    class="button primary icon solid brands fa-patreon"
                    type="submit"
                  >
                    become a patreon
                  </button>
                </a>
              </p>

              <p>One-time donations are most welcome too:</p>

              <p>
                <a
                  href="https://paypal.me/HPozzo"
                  rel="noopener"
                  target="_blank"
                >
                  <button
                    class="button primary icon solid brands fa-paypal"
                    type="submit"
                  >
                    donate
                  </button>
                </a>
              </p>

              <p>You can also contribute with code for our website:</p>

              <p>
                <a
                  href="https://github.com/marcospozzo/partitasmusic/issues"
                  rel="noopener"
                  target="_blank"
                >
                  <button
                    class="button primary icon solid brands fa-github"
                    type="submit"
                  >
                    Go to GitHub
                  </button>
                </a>
              </p>
            </div>
            <span class="image object">
              <img
                src="./images/contribute.jpg"
                alt="Music score with the beginning of a piece by Johann Sebastian Bach."
              />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
