<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
  <!-- head -->
  <%- include('partials/head'); %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2>Music <%= title %></h2>
              </header>
              <p>
                The music in this section was composed using the Guitar Craft
                Tuning (CGDAEG) beginning in 1985 all the way through to the
                present day.
              </p>
              <p>
                Traditionally, we write and share our compositions while engaged
                with guitars, often in residential courses. Most of that music
                was transmitted in person without any recordings or scores. So,
                the materials available here represent a portion of the music
                resulting from our work together.
              </p>
              <p>The aims of this section are:</p>
              <ul>
                <li>to share our music so it can be performed worldwide;</li>
                <li>
                  to provide a facility for the addition of new compositions;
                </li>
                <li>
                  to develop and perhaps enrich pieces previously contributed;
                </li>
                <li>to strengthen our common practice;</li>
                <li>
                  to offer an opportunity for additional musicians and composers
                  to learn about and possibly participate in this initiative.
                </li>
              </ul>
              <p>
                We look forward to hearing from you in the
                <a href="/contribute">Contribute</a> section.
              </p>
            </div>
            <span class="image object">
              <div class="contributors">
                <!-- Table -->
                <div style="width: 80%" class="table-wrapper">
                  <h3>Groups & Ensembles</h3>
                  <table>
                    <tbody>
                      <% groups.forEach(function (group) { %>
                      <tr>
                        <td>
                          <a href="/contributors/<%= group.path %>"
                            ><%= group.name %></a
                          >
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>

                <!-- Table -->
                <div class="table-wrapper">
                  <h3>Individuals</h3>
                  <table>
                    <tbody>
                      <% individuals.forEach(function (individual) { %>
                      <tr>
                        <td>
                          <a href="/contributors/<%= individual.path %>"
                            ><%= individual.name %></a
                          >
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
