<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <!-- head -->
  <%- include('partials/head'); %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2><%= title %></h2>
              </header>
              <p>
                We created a virtual space -yet another one- for those who want
                to participate and keeping in touch.
              </p>
              <p>This is where we can:</p>
              <ul>
                <li>Introduce ourselves</li>
                <li>Ask/answer questions about a piece</li>
                <li>Practice together</li>
                <li>Make suggestions</li>
                <li>Share thoughts</li>
                <li>Share pictures of our practice</li>
                <li>Share which piece we are working on</li>
                <li>And many more!</li>
              </ul>
              <p>
                We would love to have you in Partitas Music's Discord server!
              </p>
              <p>
                <a href="/discord" <% if (user) { %>
                  target="_blank"; <% } %> >
                  <button
                    class="button primary icon solid fa-external-link-alt"
                    type="submit"
                  >
                    join the discord <% if (!user) { %>
                    <br />
                    <i style="color: black; font-size: 80%">(login required)</i>
                    <% } %>
                  </button>
                </a>
              </p>
            </div>
            <span class="image object">
              <img
                src="./images/discord.png"
                alt="Preview of the Discord server."
              />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
