<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <!-- head -->
  <%- include('partials/head'); %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2><%= title %></h2>
              </header>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
                voluptas placeat sunt, eos veritatis soluta vero labore corporis
                magni ullam, modi, tempora corrupti laborum quisquam.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id,
                dolore! Dolor, ut. Reprehenderit, aut aliquam.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                enim laudantium tenetur ducimus, ut perspiciatis totam quo quia,
                quos quasi sed suscipit amet voluptatem temporibus culpa vero
                nisi atque optio! Veritatis modi quas voluptatum aut.
              </p>
              <p>
                <a href="https://discord.gg/a6FwyqUAKH" target="_blank">
                  <button
                    class="button primary icon solid fa-external-link-alt"
                    type="submit"
                  >
                    join the discord
                  </button>
                </a>
              </p>
            </div>
            <span class="image object">
              <img
                src="./images/discord.png"
                alt="Preview of the Discord server."
              />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
