<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
  <!-- head -->
  <%- include('partials/head'); %>

  <body class="is-preload">
    <!-- Form submit message confirmation -->
    <% if (flashSuccess != '') { %>
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>
          Please check your email to verify that the message has been sent
          correctly.
          <br /><br />
          Thank you!
        </p>
      </div>
    </div>
    <% } %>

    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content" style="width: 67%;">
              <header class="major">
                <h2>Welcome!</h2>
              </header>
              <p>
                Since the early days of
                <a
                  href="http://guitarcrafthistory.com/"
                  rel="noopener"
                  target="_blank"
                  >Guitar Craft</a
                >
                up until today, a vast array of composers and ensembles from all
                over the world performed and recorded many hours of guitar
                music, from solo pieces to chamber configurations and
                circulations.
              </p>
              <p>
                We are gathering here new and classic pieces in order to make
                the repertoire of the
                <a href="/the-tuning" rel="noopener">Guitar Craft Tuning</a>
                -also known as New Standard Tuning- available to everyone.
              </p>
              <p>
                We invite you to find the music here, participate and support
                the community.
              </p>
              <!-- <ul class="actions">
                <li>
                  <a href="/contributors" class="button primary"
                    >music contributors</a
                  >
                </li>
              </ul> -->
            </div>
            <span class="image object" style="width: 33%;">
              <img
                src="./images/collage-partitas.jpg"
                alt="Collage of pictures made with a book, a pick, and four guitarists playing the guitar."
              />
            </span>
          </section>

          <!-- Section -->
          <section>
            <header class="major">
              <h2>Featured Contributors</h2>
            </header>
            <div class="posts">   
              
              <%- include('partials/single-contributor', {contributor: firstContributor.contributor, contributions: firstContributor.contributions}); %>
              
              <%- include('partials/single-contributor', {contributor: secondContributor.contributor, contributions: secondContributor.contributions}); %>
              
              <%- include('partials/single-contributor', {contributor: thirdContributor.contributor, contributions: thirdContributor.contributions}); %>
              
            </div>
          </section>
          <ul class="actions" style="justify-content: center;">
            <li><a href="/contributors" class="button primary"> View all contributors</a></li>
          </ul>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
