<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
  <head>
    <!-- head -->
    <%- include('partials/head'); %>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2><%= title %></h2>
              </header>

              <h3>Picks</h3>
              <ul>
                <li>
                  <a
                    href="http://www.plectrum.co.jp/product.html"
                    rel="noopener"
                    target="_blank"
                    >Japan (Hiroshi Iketani)</a
                  >
                </li>
                <li>
                  <a
                    href="http://guitarensembleofeurope.com"
                    rel="noopener"
                    target="_blank"
                    >Europe</a
                  >
                </li>
                <li>
                  <a
                    href="mailto:rayoflightinc@gmail.com"
                    rel="noopener"
                    target="_blank"
                    >North America</a
                  >
                </li>
                <li>
                  <a
                    href="https://cgtrio.com/store/CGT-Logo-Guitar-Picks-p2792428"
                    rel="noopener"
                    target="_blank"
                    >The California Guitar Trio logo picks</a
                  >
                </li>
              </ul>

              <h3>Strings</h3>
              <ul>
                <li>
                  <a href="mailto:adrianfortis@gmail.com" rel="noopener"
                    >NSTrings orders (USA)</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.stringsbymail.com/john-pearse-150ns-80-20-bronze-acoustic-guitar-strings-new-std-11-58-4975.html"
                    rel="noopener"
                    target="_blank"
                    >John Pearse 150NS 80/20</a
                  >
                </li>
              </ul>
            </div>
            <span class="image object">
              <img
                src="./images/collage-picksandstrings.jpg"
                alt="Collage of pictures made with a pick, a set of nstrings and a set of John Pearse strings."
              />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
    <!-- <script src="/assets/js/map.js"></script> -->
  </body>
</html>
