<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
  <!-- head -->
  <%- include('partials/head'); %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Section -->
          <section>
            <header class="major contributions-header">
              <ul class="actions">
                <li><a href="/music-catalog" class="button icon solid fa-arrow-left"> Back</a></li>
              </ul>
              <h2>Music Contributors</h2>
            </header>
            <div class="posts">   

              <%- include('partials/one-contributor', {contributor: firstContributor.contributor, contributions: firstContributor.contributions}); %>
            
              <%- include('partials/one-contributor', {contributor: secondContributor.contributor, contributions: secondContributor.contributions}); %>
           
              <%- include('partials/one-contributor', {contributor: thirdContributor.contributor, contributions: thirdContributor.contributions}); %>

            </div>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>

  </body>
</html>
